.disciplina-feed
    - if figura = FiguraDisciplina.find_by(disciplina_id: disciplina.id)
        .figura_anexo= image_tag figura_disciplina_path(disciplina)
    %h2=link_to disciplina.nome, disciplina
    - if user_signed_in?
        .fav-button
            %a{:id => "disciplina/#{disciplina.id}/bookmark", data: {id: disciplina.id}}(href="javascript:void(0);")
                - if current_user.seguindo?(disciplina)
                    = image_tag 'favorito-ativo.png'
                - else
                    = image_tag 'favorito-inativo.png'
    %p.disciplina-desc= disciplina.desc
    %p.disciplina-dados
        ="#{pluralize(disciplina.seguidores.count, 'usuário')} seguindo"
        |
        = pluralize(disciplina.materials.count, 'post')
    - if admin_signed_in?
        %p
            = link_to 'Editar', edit_disciplina_path(disciplina)
            = link_to 'Excluir', disciplina_path(disciplina), data: {:confirm => 'Tem certeza?'}, method: :delete
            = link_to 'Figura', disciplina_upload_path(disciplina)
    .clearfix
