.disciplina-feed
    %h2=link_to disciplina.nome, disciplina
    %p.disciplina-desc= disciplina.desc
    %p.disciplina-dados
        ="#{pluralize(disciplina.seguidores.count, 'usuário')} seguindo"
        |
        = pluralize(disciplina.materials.count, 'post')
    - if admin_signed_in?
        %p
            = link_to 'Editar', edit_disciplina_path(disciplina)
            = link_to 'Excluir', disciplina_path(disciplina), data: {:confirm => 'Tem certeza?'}, method: :delete
