.curso-feed
    %h2=link_to curso.nome, curso
    %p.curso-desc= curso.desc
    %p.curso-dados
        = curso.disciplinas.count 
        discplinas 
        | 
        = curso.materials.count
        posts 
    - if admin_signed_in?
        %p
            = link_to 'Editar', edit_curso_path(curso)
            = link_to 'Excluir', curso_path(curso), data: {:confirm => 'Tem certeza?'}, method: :delete
