.col-md-4
    .card.mb-4.shadow-sm
        - if figura = FiguraCurso.find_by(curso_id: curso.id)
            = image_tag figura_curso_path(curso), class: "card-img-top figura-topo"
        .card-body
            %h5.card-title=link_to curso.nome, curso
            %p.curso-desc.card-text= curso.desc
            %p.curso-dados.card-text
                %small.text-muted
                    = curso.disciplinas.count 
                    discplinas 
                    | 
                    = curso.materials.count
                    posts 
                - if admin_signed_in?
                    %p
                        = link_to 'Editar', edit_curso_path(curso)
                        = link_to 'Excluir', curso_path(curso), data: {:confirm => 'Tem certeza?'}, method: :delete
                        = link_to 'Figura', curso_upload_path(curso)
            .clearfix
