
%span.voto_material.mr-auto{data: {pontos_id: material.id}}
    = pluralize(material.votos.sum(:sinal), 'ponto')
    |
    = pluralize(material.comentarios.count, 'comentário')

-if user_signed_in?
    - meu = material.votos.find_by(user_id: current_user.id)
    - if meu == nil
        - sinal = 0
    - else
        - sinal = meu.sinal
    .vote
        %a.up{id: "material/#{material.id}/upvote", data: {id: material.id}}(href="javascript:void(0);")
            - if sinal == +1
                = material_icon.thumb_up_alt
            - else
                = material_icon.thumb_up_alt.css_class("md-dark")
        %a.down{id: "material/#{material.id}/downvote", data: {id: material.id}}(href="javascript:void(0);")
            - if sinal == -1
                = material_icon.thumb_down_alt
            - else
                = material_icon.thumb_down_alt.css_class("md-dark")

