%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Salva vidas", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav
        %li= link_to "Home", root_path
        %li= link_to "Cursos", cursos_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.usuario= "#{current_user.nome} (#{current_user.email})"
          %li= link_to 'Editar Cadastro', edit_user_registration_path
          %li= link_to 'Sair', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Entrar', new_user_session_path
          %li= link_to 'Cadastrar', new_user_registration_path

