.vote
    .bottom-bar-item
        %a.up{:id => "comentario/#{comentario.id}/upvote", data: {id: comentario.id}}(href="javascript:void(0);")
            - if meu_voto == +1
                = image_tag 'up-ativo.png'
            - else
                = image_tag 'up-inativo.png'
    .bottom-bar-item
        %a.down{:id => "comentario/#{comentario.id}/downvote", data: {id: comentario.id}}(href="javascript:void(0);")
            - if meu_voto == -1
                = image_tag 'down-ativo.png'
            - else
                = image_tag 'down-inativo.png'

.vote
    .bottom-bar-item
        %a.up{id: "material/#{material.id}/upvote", data: {id: material.id}}(href="javascript:void(0);")
            - if meu_voto == +1
                = material_icon.thumb_up_alt.md_18.css_class("vote-up")
            - else
                = material_icon.thumb_up_alt.md_18
    .bottom-bar-item
        %a.down{id: "material/#{material.id}/downvote", data: {id: material.id}}(href="javascript:void(0);")
            - if meu_voto == -1
                = material_icon.thumb_down_alt.md_18.css_class("vote-down")
            - else
                = material_icon.thumb_down_alt.md_18