!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SalvaVidas
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if notice
      %span.notice= notice
    - if alert
      %span.alert= alert  
    - if user_signed_in?
      %strong= current_user.email
      = link_to 'Editar', edit_user_registration_path
      = link_to 'Sair', destroy_user_session_path, method: :delete
    - else
      = link_to 'Entrar', new_user_session_path
      = link_to 'Cadastrar', new_user_registration_path
    = yield
